<form [formGroup]="fTask" (submit)="saveTask()" class=" flex justify-center items-center md:flex-row flex-col md:gap-4 gap-0 mb-4 w-full -mt-8">
    <mat-form-field  color="primary" class="md:w-2/3 w-4/5 h-full">
        <mat-label>Agregar una tarea</mat-label>
        <input matInput placeholder="Ej. Recoger documentos" formControlName="name">
        <mat-error>Ingresa una tarea válida</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" class="md:w-1/5 w-1/2" [disabled]="fTask.invalid">
        Crear
        <mat-icon>add_circle</mat-icon>
    </button>
</form>
<section class="h-screen overflow-hidden">
    <section class="flex justify-between  items-center mb-4 text-lg">
        <article class="flex gap-3 items-center">
            <span class="text-blue-400 font-semibold">Tareas Creadas: </span>
            <span class="bg-neutral-100/50 px-3 rounded-full text-white font-medium">{{taskService.getTotalTask()}}</span>
        </article>
        <article class="flex gap-3 items-center">
            <span class="text-violet-400 font-semibold">Concluidas: </span>
            <span class="bg-neutral-100/50 px-3 rounded-full text-white font-medium">{{taskService.getEndedTasks()}} de {{taskService.getTotalTask()}}</span>
        </article>
    </section>
    <mat-divider></mat-divider>
    <div class="w-full h-screen text-xl text-neutral-400 flex flex-col items-center justify-center" *ngIf="taskService.getTotalTask() == 0">
        <mat-icon>summarize</mat-icon>
        <p><strong>Você ainda não tem tarefas cadastradas </strong><br>
            Crie tarefas e organize seus itens a fazer</p>
    </div>
    <ul class="flex flex-col gap-4" *ngIf="taskService.getTotalTask() > 0">
        <!-- <li *ngFor="let task of listTasks; let i = index">{{task.task}} <button mat-button (click)="removeTask(i)">Eliminar</button></li> -->
        <app-task *ngFor="let task of taskService.getListTasks(); let i = index" [task]="task" [index]="i"></app-task>
    </ul>
</section>