<article class="flex w-full items-center justify-between border bg-black rounded-lg p-4 text-white shadow-sm shadow-gray-400">
    <div class="flex items-center h-full gap-3">
        <div class="bg-gray-300/80 rounded-full h-full">
            <mat-checkbox color="primary" [(ngModel)]="task!.status" (click)="updateStatus()">
            </mat-checkbox>
        </div>
        <p>
            <span [ngClass]="{'line-through':task?.status}">{{task?.task}}</span>
        </p>
    </div>
    <button mat-icon-button class="text-red-500" (click)="removeItem()"><mat-icon>delete</mat-icon></button>
</article>