<main class="bg-slate-600 overflow-hidden">
  <header class="flex gap-4 bg-black items-center h-[20vh] justify-center w-full">
    <img src="assets/img/rocket.svg" alt="rocket">
    <h1 class="text-4xl font-bold tracking-wider mb-0">
      <span class="text-blue-500">to</span><span class="text-purple-700">do</span>
    </h1>
  </header>
  <section class="container">
    <router-outlet></router-outlet>
  </section>
</main>